<form id="reset-form">
    <div class="mdl-card__supporting-text">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="password" id="password-input" name="password" />
            <label class="mdl-textfield__label" for="password">Password</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="password" id="password-input" name="password_confirmation" />
            <label class="mdl-textfield__label" for="password_confirmation">Confirm Password</label>
        </div>
    </div>
    <div class="mdl-card__supporting-text text-center">
        <a href="#login">Login</a>
    </div>
    <div class="mdl-card__actions mdl-card--border text-right">
        <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Submit</button>
    </div>
</form>
