<header class="mdl-layout__header">
    <div class="mdl-layout__header-row header">
    </div>
</header>
<div class="mdl-layout__drawer navigation">
    <nav class="mdl-navigation navigation">
        <a class="mdl-navigation__link" href="">Link</a>
    </nav>
</div>
<main class="mdl-layout__content">
    <div class="mdl-grid page-content content"></div>
</main>
<div class="loading-overlay" style="display:none">
    <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
</div>
