<div class="mdl-card__supporting-text">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="email" id="email-input" />
        <label class="mdl-textfield__label" for="email">Email</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password" id="password-input" />
        <label class="mdl-textfield__label" for="password">Password</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password-confirmation" id="password-confirmation-input" />
        <label class="mdl-textfield__label" for="password-confirmation">Confirm Password</label>
    </div>
    <div class="text-center">
        <a href="#forgot" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Forgot Password</a>
        <span> - </span>
        <a href="#login" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Login</a>
    </div>
</div>
<div class="mdl-card__actions mdl-card--border">
    <div class="mdl-layout-spacer"></div>
    <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Submit</button>
</div>
