<form>
    <div class="mdl-card__supporting-text">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" name="name" type="text" id="name-input" value="<%= name %>" />
            <label class="mdl-textfield__label" for="name">Name</label>
        </div>
        <% if (price_two) { %>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" name="price_one" type="text" id="price_one-input" value="<%= toFixed(price_one) %>" />
            <label class="mdl-textfield__label" for="price_one">Small Price</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" name="price_two" type="text" id="price_two-input" value="<%= toFixed(price_two) %>" />
            <label class="mdl-textfield__label" for="pricetwo">Large Price</label>
        </div>
        <% } else { %>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" name="price_one" type="text" id="price_one-input" value="<%= toFixed(price_one) %>" />
            <label class="mdl-textfield__label" for="price_one">Price</label>
        </div>
        <% } %>
        <div class="mdl-textfield mdl-js-textfield">
            <textarea class="mdl-textfield__input" type="text" name="description" rows="10" id="description-input"></textarea>
            <label class="mdl-textfield__label" for="description">Description</label>
        </div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a href="#menu-section/<%= section_id %>" class="mdl-button mdl-button--raised">Cancel</a>
        <div class="mdl-layout-spacer"></div>
        <button type="submit" class="mdl-button mdl-button--raised mdl-button--colored">Submit</button>
    </div>
</form>
