html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}
.dash-drawer {
    border: none;
}
.dash-layout .mdl-layout__header .mdl-layout__drawer-button {
    color: rgba(0, 0, 0, 0.54);
}

/* iOS Safari specific workaround */
.dash-drawer .mdl-menu__container {
    z-index: -1;
}
.dash-drawer .dash-navigation {
    z-index: -2;
}
/* END iOS Safari specific workaround */

.dash-drawer .mdl-menu .mdl-menu__item {
    display: flex;
    align-items: center;
}
.dash-drawer-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px;
}
.dash-avatar-dropdown {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.dash-navigation {
    flex-grow: 1;
}
.dash-layout .dash-navigation .mdl-navigation__link {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    color: rgba(255, 255, 255, 0.56);
    font-weight: 500;
}
.dash-layout .dash-navigation .mdl-navigation__link:hover {
    background-color: #00BCD4;
    color: #37474F;
}
.dash-navigation .mdl-navigation__link .material-icons {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.56);
    margin-right: 32px;
}
.dash-separator {
    height: 32px;
}
.dash-content {
    max-width: 1080px;
}
