<form>
    <div class="mdl-card__supporting-text">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" name="name" type="text" id="name-input" value="<%= name %>" />
            <label class="mdl-textfield__label" for="name">Name</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" name="infoTitle" type="text" id="infoTitle-input" value="<%= infoTitle %>" />
            <label class="mdl-textfield__label" for="infoTitle">Info Title</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <textarea class="mdl-textfield__input" type="text" name="info" rows="10" id="info-input"></textarea>
            <label class="mdl-textfield__label" for="info">Info</label>
        </div>
        <div class="menu__prices">
            Sizes:
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="radio-one">
                <input type="radio" id="radio-one" class="mdl-radio__button" name="sizes" value="1" <%= sizes === 1 ? 'checked' : '' %> />
                <span class="mdl-radio__label">One</span>
            </label>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="radio-two">
                <input type="radio" id="radio-two" class="mdl-radio__button" name="sizes" value="2" <%= sizes === 2 ? 'checked' : '' %> />
                <span class="mdl-radio__label">Two</span>
            </label>
        </div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a href="#menu-section/<%= id %>" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Cancel</a>
        <div class="mdl-layout-spacer"></div>
        <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Submit</button>
    </div>
</form>
