<div class="mdl-card__title">
    <h2 class="mdl-card__title-text"><%= name %></h2>
</div>
<div class="mdl-card__supporting-text">
    <% if (info_title && info) { %>
    <div class="menu__info">
        <h6><%= info_title %></h6>
        <%= info %>
    </div>
    <% } %>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-data-table--nested">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Items</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div class="mdl-card__actions mdl-card--border menu__actions">
    <a href="#menu-sections" class="mdl-button mdl-button--raised">Back</a>
    <div class="mdl-layout-spacer"></div>
    <button id="section-actions" class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">more_vert</i>
    </button>
    <ul class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect" for="section-actions">
        <li class="mdl-menu__item"><a href="#menu-section/<%= id %>/add-item">Add Item</a></li>
        <li class="mdl-menu__item"><a href="#menu-section/<%= id %>/edit">Edit</a></li>
        <li class="mdl-menu__item delete">Delete</li>
    </ul>
</div>
