<div class="mdl-card__supporting-text">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-data-table--nested">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Section</th>
                <th>Item Count</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div class="mdl-card__actions mdl-card--border">
    <div class="mdl-layout-spacer"></div>
    <a href="#menu-section/add" class="mdl-button mdl-button--raised mdl-button--colored">Add Section</a>
</div>
