.menu__section {
    border-bottom: 1px solid rgba(55,55,55,0.3);

    &:last-of-type {
        border-bottom: none;
    }
}
.menu__info {
    margin: 15px auto;

    h6 {
        margin: 5px auto;
    }
}
.menu__prices {
    label {
        margin: 0 5px;
    }
}
