.photo-wrapper div:nth-child(n+4) {
    display: none !important;
}
.photo-preview-wrapper {
    min-height: 200px;
    background-color: unquote("rgb(#{$palette-grey-300})");
}
.photo-preview {
    min-height: 200px;
    margin: 0 auto;
    padding: 0;
    
    img {
        width: 100%;
        height: auto;
        margin: 10px auto;
    }
}

@media(max-width: $grid-desktop-breakpoint) and (min-width: $grid-tablet-breakpoint) {

    .photo-wrapper div:nth-child(n+3) {
        display: none !important;
    }
}

@media(max-width: $grid-tablet-breakpoint) {
    .photo-wrapper div:nth-child(n+2) {
        display: none !important;
    }
}
