<form>
    <div class="mdl-card__supporting-text">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty">
            <input class="mdl-textfield__input" name="name" type="text" id="name-input" value="<%= name %>" />
            <label class="mdl-textfield__label" for="name">Name</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" name="street" type="text" id="street-input" value="<%= street %>" />
            <label class="mdl-textfield__label" for="street">Street</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" name="city" type="text" id="city-input" value="<%= city %>" />
            <label class="mdl-textfield__label" for="city">City</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" name="state" type="text" id="state-input" value="<%= state %>" />
            <label class="mdl-textfield__label" for="state">State</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" name="zip" type="text" id="zip-input" value="<%= zip %>" />
            <label class="mdl-textfield__label" for="zip">Zip</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" name="phoneOne" type="text" id="phoneOne-input" value="<%= phoneOne %>" />
            <label class="mdl-textfield__label" for="phoneOne">Phone One</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" name="phoneTwo" type="text" id="phoneTwo-input" value="<%= phoneTwo %>" />
            <label class="mdl-textfield__label" for="phoneOne">Phone Two</label>
        </div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a href="#info" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Cancel</a>
        <div class="mdl-layout-spacer"></div>
        <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Submit</button>
    </div>
</form>
