<div class="mdl-card__supporting-text">
    <div><span class="content__title">Name:<span> <%= name %></div>
    <div><span class="content__title">Street:<span> <%= street %></div>
    <div><span class="content__title">State:<span> <%= state %></div>
    <div><span class="content__title">Zip Code:<span> <%= zip %></div>
    <div><span class="content__title">Phone One:<span> <%= phoneOne %></div>
    <div><span class="content__title">Phone Two:<span> <%= phoneTwo %></div>
</div>
<div class="mdl-card__actions mdl-card--border">
    <div class="mdl-layout-spacer"></div>
    <a href="#info/edit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Edit</a>
</div>
