<form>
    <div class="mdl-card__supporting-text mdl-grid">
        <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col photo-preview-wrapper">
            <div class="mdl-card__title">Preview</div>
            <div class="mdl-card__supporting-text photo-preview"><img /></div>
        </div>
        <input type="file" name="image" id="image-input" style="display:none" />

        <button class="mdl-button mdl-button--raised mdl-button--colored center photo-add-btn" type="button">Add Photo</button>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a href="#photos" class="mdl-button mdl-button--raised">Cancel</a>
        <div class="mdl-layout-spacer"></div>
        <button class="mdl-button mdl-button--raised mdl-button--colored" type="submit">Submit</button>
    </div>
</form>
