<form>
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text"><%= day %></h2>
    </div>
    <div class="mdl-card__supporting-text mdl-grid">
        <div class="mdl-cell mdl-cell--4-col mdl-cell--middle">
            <label class="mdl-checkbox mdl-js-checkbox" for="toggle-closed">
                <input name="isClosed" type="checkbox" id="toggle-closed" class="mdl-checkbox__input" value="1" <%= isClosed ? 'checked' : '' %> />
                <span class="mdl-checkbox__label">Closed</span>
            </label>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" name="open" type="text" id="open-time" value="<%= open %>" />
                <label class="mdl-textfield__label" for="open-time">Open Time</label>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" name="close" type="text" id="close-time" value="<%= close %>" />
                <label class="mdl-textfield__label" for="close-time">Close Time</label>
            </div>
        </div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a href="#hours" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Cancel</a>
        <div class="mdl-layout-spacer"></div>
        <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Submit</button>
    </div>
</form>
