<section class="section--center mdl-grid mdl-grid--no-spacing info-section text-center">
</section><!-- .info-section -->

<section class="mdl-grid title-section mdl-shadow--4dp">
</section><!-- .title-section -->

<section class="section--center mdl-grid mdl-grid--no-spacing about-section">
</section><!-- .about-section -->

<section class="section--center mdl-grid mdl-grid--no-spacing menu-section">
</section><!-- .menu-section -->

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--4dp">
</section><!-- .photo-section -->

